*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-size:14px;
    font-family: "PingFangSC-Regular","Microsoft YaHei","simsun",
                 "Helvetica Neue",Arial,Helvetica,sans-serif;
    box-sizing:border-box;
    color: #1e1e1e;
}
a{
    text-decoration: none;
}
ul{
   list-style: none;
}
.outside{
    width: 100%;
    background: #F7F7F7;
    padding-bottom: 60px;
    /* height:50px; */
    /* text-align: center; */
    /* border:1px solid red; */
}
.inner{
    width: 1188px;
    /* height:40px; */
     /* margin-bottom: 12px;  */
    margin: 0 auto;
    /* border:1px solid red; */
}
/* 边框阴影 */
.shadow:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
/* 顶部和底部 引入css */
/* 顶部导航 */
header{
    text-align: center;
}
header>iframe{
    width: 100%;
    height: 235px;
    margin-top:-4px;
}

/* 底部信息 */
footer>iframe{
    width: 100%;
    height: 455px;
}
/* 隐藏 */
.display-none{
    display: none!important;
}
/* 透明度显示 */
.opacity-1{
    opacity: 1!important;
}



