*{
    margin: 0;
    padding: 0;
}
body{
    font-size:14px;
    font-family: PingFangSC-Regular,"Microsoft YaHei",simsun,
                 "Helvetica Neue",Arial,Helvetica,sans-serif;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
ul{
   list-style: none;
}
.outside{
    width: 100%;
    /* height:50px; */
    /* text-align: center; */
    /* border:1px solid red; */
}
.inner{
    width: 1188px;
    /* height:40px; */
    /* margin-bottom: 60px; */
    margin: 0 auto;
    /* border:1px solid red; */
}