*{
    margin: 0;
    padding: 0;
}
body{
    font-size:14px;
    font-family: PingFangSC-Regular,"Microsoft YaHei",simsun,
                 "Helvetica Neue",Arial,Helvetica,sans-serif;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
ul{
   list-style: none;
}