/* 顶部导航 
header{
    text-align: center;
}
header>iframe{
    width: 100%;
    height: 232px;
    margin-top:-4px;
}

/* 底部信息 *
footer>iframe{
    width: 100%;
    height: 455px;
}
/* 右侧悬浮栏 */
aside{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding: 0 7px;
    background-color: #fff; 
}
.enter-item{
    height: 64px;
    width: 50px;
    padding: 10px 0;
    border-top: 1px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
}
.enter-item:first-child{
    border-top: none;
}
.enter-item>a{
    display: inline-block;
    vertical-align: middle;
    /* zoom: 1; */
    width: 100%;
    color: #646464;
    text-align: center;
}
.enter-item>a>img{
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px
}
.enter-font{
    font-size: 8px;

}

/* 轮播图 */
.carousel{
    height: 500px;
    position: relative;
    background: #F7F7F7;
    top: -5px;
}
.carousel-list{
    width: 100%;
}
/* .carousel-list::after{
    content: '';
    display: block;
    clear: both;
} */
.carousel-items{
   /* margin-left:-50%; */
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top: 0;
    z-index: 0;
    
}
.carousel-items a{
    width: 100%;
    height: 100%;
    display: block;
}
/* 箭头 */
.arrow{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -36px;
}
.arrow>a{
    width: 40px;
    height: 72px;
    position: absolute;
    /* display: none; */
}
.arrow>.arrow-left{
    background:  rgba(11,16,16,0.2) url('../img/icon_arrow_left_thin.png') no-repeat center center;
    /* background-size:50% 50%; */
    left: 0;
}
.arrow>.arrow-right{
    background:  rgba(11,16,16,0.2) url('../img/icon_arrow_right_thin.png') no-repeat center center;
    /* background-size:40% 40%; */
    right: 0;
}
/* 指针 */
.indicators{
    width: 1188px;
    height: 21px;
    position: absolute;
    bottom: 10px;
    text-align: left;
    margin: 0 auto;
    left: 50%;
    margin-left: -594px;
    z-index: 1;
}
.indicators-list{
    float: left;
    
}
.indicators-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #82858b;
    margin: 3px 5px;
    opacity: .8;
    border: none;
    cursor: pointer;
    line-height: 14px;
    float: left;
}
.indicators-item.active{
    background: 0 0;
    /* margin: 0 5px;
    width: 14px;
    height: 14px; */
    border: 3px solid #fff;
    margin-top:0px;
}
/* 楼层 */
/*f0 频道专区*/
.channel::after,.floor::after{
    content: '';
    display: block;
    clear: both;
}
.floor::after{
    content: '';
    display: block;
    clear: both;
}
.channel-title,.floor-title {
    font-size: 22px;
    margin-top: 25px;
    float: left;
}
/* 图片 */
.channel-detail{
    /* width: 288px; */
    /* height: 388px; */
    margin-top: 20px;
    /* position: relative; */
    overflow: hidden;
   
}
.channel-detail::after{
    content: '';
    display: block;
    clear: both;
}

.channel-detail>.details-1{
    width: 588px;
    float: left;
    overflow: hidden;
}
/* 向上移动动画 */
.moveup{
    transition: 0.2s ease-out;
}
.moveup:hover{
    transform: translateY(-4px); 
}
.channel-detail>.details-2,.channel-detail>.details-3,.channel-detail>.details-4{
    width: 288px;
    float: left;
    transition: 0.2s ease-out;

}
.channel-detail>.details-2{
    margin-right: 10px;
    margin-left: 10px;
}
.channel-detail>.details-4{
    margin-top: 10px;
}

.channel-detail>div>a{
    display: block;
    width: 100%;
}
.channel-detail>div>a>img{
    width: 100%;
}
/* f1 激光电视 */
.floor-more{
    float: right;
    font-size: 14px;
    width: 88px;
    margin-top: 25px;
    /* vertical-align:  baseline; */

}
.floor-more>a{
    display: inline-block;
    color: #aaaaaa;
}
.f1 .details-1{
    width: 228px;
}
.product-details>ul::after{
    content: '';
    display: block;
    clear: both;
}
.product-details>ul>li{
    float: left;
    margin-left: 12px;
    width: 228px;
    height: 300px;
    background: #fff;
    margin-bottom: 12px;
    /* 边框阴影 */
}
.product-details>ul>li:nth-child(4){
    /* margin-bottom: 12px; */
}
.product-content{
    width: 100%;
}
.product-details>ul>li img{
    width: 212px;
    height: 212px;
}
.product-content .product-title,.product-content .product-moredetail,.product-content .product-price{
    width: 212px;
    margin: 0 auto;
    overflow: hidden;   
    text-align: center;
    text-overflow: ellipsis;/*文字显示不完全变省略号*/
    white-space: nowrap;
}
.product-content .product-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    height: 20px;
    color: #1e1e1e;
}
.product-content .product-moredetail{
    font-size: 12px;
    color: #777;
    height: 24px;
    line-height: 24px;
    text-overflow: ellipsis;
    
}
.product-content .product-price{
    font-size: 16px;
    color: #cc0010;
    line-height: 20px;
    height: 20px;
}

/* 选购攻略 */
.product{
    margin-top: 20px;
    margin-left:-12px;
}
.product::after{
    content:'';
    display: block;
    clear: both;
}
.product-item{
    height: 324px;
    width: 388px;
    background: #fff;
    float: left;
    margin-left: 12px;
    text-align: center;
    margin-bottom: 12px;
    transition: all .2s linear;
    overflow: hidden;
}
.product-item>a{
    display: block;
    width: 100%;
}
.item-img{
    width: 100%;
}
.product .product-content{
    background: #fff;
    box-sizing: border-box;
    padding: 24px 16px;
    text-align: left;
    width: 100%;
    min-height: 108px;
    transition: all 250ms ease;
}

 .product .product-title,.product .product-moredetail{
    text-align: left;
    margin:0;
} 

.product .product-title{
    font-size: 12px;
    color: #62c1d5;
    line-height: 16px;
    margin-bottom: 5px;
}
.product .product-moredetail{
    font-size: 16px;
    color: #262626;
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
}
/* 官方咨训 */
.product .product-desc{
    opacity: 0;
    /* height: 0; */
    line-height: 20px;
    margin-top: 12px;
    text-align: left;
    font-size: 14px;
    color: #777;
}
/* .product .product-desc:hover{
    /* opacity: 1; */
    /* height:  */
/* }
.f9 .product-item>a{
    position: relative;
}
.f9 .product-content{
    position: absolute;
} */ 
/* f10 */
/* 视频 */
.item-video{
    width: 100%;
    height: 218;
    text-align: center;
}
.play-btn{
    width: 36px;
    height: 36px;
    position:absolute;
    left: 20px;
    bottom: 124px;
}
.f10 .product-item{
    position: relative;
}
/* 字体 */

.f10 .product-content .product-moredetail,.f10 .product-content .product-desc{
    text-align: center;
    margin: 0 auto;
}
.f10 .product-desc{
    opacity: 1;
}

/* 服务 */
.service{
    width: 100%;
    margin-top: 20px;
}
.service::after{
    content: '';
    display: block;
    clear: both;
}
.service>li{
    float:left;
    width: 288px;
}
.service>li+li{
    margin-left: 12px;
}
.service>li img{
    width: 100%;
}
