.product{
    width: 100%;

}
.product-wrapper{
    position: relative;
    height: 717px;
    /* margin: 0 auto 25px; */
}
.product-l{
    width: 550px;
    position: absolute;
    margin-top: 26px;
}
.product-r{
    width: 600px;
    /* background: #afa; */
    margin-top: 26px;
    position: absolute;
    right: 0px;
}
#img-md,#super-mask,#div-lg{
    width: 550px;
    height: 550px;
    border: 0;
    overflow: hidden;
}
/* 大遮罩层 */
#super-mask{
    background: transparent;
    position: absolute;
    top: 0;

}
/* 放大镜大图 */
#div-lg{
    background: #faa;
    left: 50%;
    top: 100px;
    position: fixed;
    display: none;
}
/* 遮罩 */
#mask{
    width: 273px;
    height: 273px;
    position: absolute;
    left: 0px;
    top: 275px;
    /* display: none; */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    cursor: move;
    opacity: 0.6;
    
}
.play-video{
    position: absolute;
    width: 48px;
    height: 48px;
    /* z-index: 10; */
    line-height: 60px;
    bottom: 145px;
    left: 20px;
}
/* 播放按钮 */
.play-pc-btn{
    width: 100%;
}
.carousel-wrap{
    margin: 14px auto;
    width: 476px;
    position: relative;
}
/* 下方小图片 */
.carousel-list{
    overflow: hidden;
    height: 88px;
    margin: 10px 0 0;
    /* padding: 0; */
}
/* .carousel-list::after{
    content: '';
    display: block;
    clear: both;
} */
.carousel-item{
    /* float: left; */
    display: inline-block;

}
.carousel-item>img{
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline;
}
.carousel-item>img:active{
    border-color: #00AAA6;
}
/* 小箭头 */
.arr-prev,.arr-next{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    opacity: 0.3;
    cursor: pointer;
}
.arr-prev{
    background: url('../img/arrow-left.png') no-repeat center left;
    background-size: 35% 45%;
    left: -30px;
}
.arr-next{
    background: url('../img/arrow-right.png') no-repeat center right; 
    background-size: 35% 45%;
    right: -30px;
}
/* 右侧文字 */
/* 分享 */
.share{
   position: relative;
    text-align: right;
    height: 40px;
}
.share-img{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
/* 隐藏分享部分 */
.main-share{
    width: 408px;
    height: 178px;;
    position: absolute;
    top: 36px;
    right: 0;
    background: #fff;
   
    box-sizing: border-box;
    padding: 48px 42px 48px;
    border-radius: 2px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.share-item{
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.share-item>span{
    font-size: 12px;
    color: #777;
    display: block;
    line-height: 16px;
    margin-top: 8px;
}
.main-title{
    color: #262626;
    font-size: 24px;
    padding: 0;
    line-height: 1.2!important;
    margin: 0 0 12px;
    font-weight: 400;
}
.subtitle{
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;
    color: #646464;
    margin-bottom: 16px;
    margin-top: 12px;
    font-weight: 400;
}
/* 价格 */
.item-info{
    box-sizing: border-box;
    background: #f7f7f7;
    height: 80px;
    font-size: 14px;
    padding: 16px 16px 16px 0;
    display: flex;
    justify-content: space-between
}
.item-info>span{
    display:flex;
}
.item-price{
    font-size: 36px;
    color: #d9161c;
}
.item-extra{
    display:flex;
    flex-direction:column;
    margin-left: 4px;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #646464;
    padding-bottom: 4px;
}
.item-reduce>a{
    font-size: 12px;
    color: #646464;
}
.item-reduce img{
    vertical-align: middle;
}
.service-list{
    position: relative;
    padding: 16px 16px 16px 0!important;
    border-bottom: 1px solid #eee;
    display: flex;
}
.item-commitment{
    width: 56px;
    height: 22px;
    margin-right: 24px;
    font-size: 14px;
    color: #646464;
}
.item-content{
    width: 420px;
    height: 22px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.item-content>div{
    margin-right: 12px;
    font-size: 14px;
}
.item-content>div>img{
    width: 22px;
    height: 22px;
    margin-right: 2px;
    vertical-align: text-bottom;
}
.item-arrow{
    text-align: right;
    width: 60px;
    position: absolute;
    right:16px;
    top: 20px;
}
.service-box{
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    max-height: 400px;
    right: 0;
    top: 50px;
    box-shadow: 0 2px 16px 0 rgba(38,38,38,.08);
    border-radius: 2px;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    display: none;/* 点击时显示*/
}
.service-box>ul>li>p{
    box-sizing: border-box;
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 400;
    margin: 12px 0 6px;
}
.service-box>ul>li>div{
    box-sizing: border-box;
    font-size: 14px;
    color: #646464;
    line-height: 1.8;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
}
/* 地址 */
.address-box{
    box-sizing: border-box;
    margin: 16px 0;
    display: flex;
    height: auto;
    width: 100%;
    background: #f7f7f7;
    padding: 16px 16px 14px 0;
}
.address-box>div:first-child{
    width: 44px;
    text-align: center;
}
/* 数量选择*/
.item-skus{
    margin-top: 20px;
    position: relative;
}
.control-group{
    height: 90px;
    margin-top: 10px;
    line-height: 25px;
}
.choose-title{
    font-size: 14px;
    color: #646464;
}
.controls{
    height: 42px;
    margin-top: 8px;
    vertical-align: middle;
    display: inline-block;
    
}
.controls>span{
    box-sizing: border-box;
    display: inline-block;

    width: 36px;
    height: 40px;
    line-height: 38px;

    border-radius: 2px 0 0 2px;
    border: 1px solid #ddd;
    font-size: 20px;
    font-weight: 500;
    color: #777;

    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    margin: 0px;
}
.controls>input{
    display: inline-block;

    box-sizing: border-box;
    line-height: 38px;
    height: 40px;
    width: 64px;
    font-size: 16px;
    color: #262626;
    text-align: center;
    vertical-align: middle;

    border: 1px solid #ddd;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: 0 10px;
    margin: 0px;

    margin-left: -4px;
    margin-right: -4px;
    
    font-family: "Microsoft YaHei";
}
#choose-btns{
    margin: 0;
    padding: 16px 0;
}
#choose-btns>button{
    display: inline-block;
    width: 180px;
    height: 40px;

    border: none;
    border-radius: 0;

    color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: baseline;
    padding: 0;
    margin-bottom: 0;
    font-weight: 400;
}
#js-buy-now{
    background: #d9161c;
}
#js-add-cart{
    background: #262626;
}
/* 商品详细信息 */
.all-details::before{
    content: '';
    display: table;
}
.components-tab{
    min-height: 800px;
    color: #646464;
    background: #fff;

    /* border-top: 1px solid transparent;*/
    margin-top: 64px; 
    /* text-align: left; */
}

.tab-navs{
    width: 100%;
}
.tab-navs::after{
    content: '';
    display: block;
    clear: both;
}
.tab-nav-item{
    line-height: 64px;
    float: left;
    color: #aaa;
    font-size: 16px;
    
    padding: 0 16px;
}
.tab-nav-item>a{
    color: #aaa;/*#262626*/
    font-size: 16px;
    background-color: #fff;
    padding: 0 16px;
}
.tab-nav-item.active>a{
    color:#262626;
}
/*图片详情 */
.tab-content>p{
    text-align: center;
}
.tab-content>p>img{
    display: inline-block;
    vertical-align: middle;
}
/* 评论 */
.comment-header{
    height: 118px;
    padding: 22px 150px;
    border-bottom: 1px solid #ddd;
}
.comment-header>div:first-child{
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    color: #777;
    text-align: left;
}
.comment-header>div:last-child{
    height: 44px;
    line-height: 44px;
    color: #e31436;
    font-size: 36px;
    text-align: left;
}
.comments-ul{
    color: #646464;
}
.comments-li{
    box-sizing: border-box;
    margin-top: 24px;
    padding: 0 156px;
}
.comments-user{
    float: left;
    width: 80px;
    height: 80px;
    line-height: 32px;
    /* display: inline-block; */
    vertical-align: top;
}
.comments-user>img{
    width: 100% !important;
    height: 100% !important;
}
.comments-info{
    margin-left: 104px;
}
.buyer-comment{
    
}