header>iframe{
    height: 231px;
}
/* 外层包裹 */
.outside::before{
    content: '';
    display: table;
}
.inside{
    width: 1200px;
    margin: 24px auto 60px;
}
.inside::after{
    content: '';
    display: block;
    clear: both;
}
/* 左侧 */
.left{
    float: left;
    background: #fff;
    margin-right: 12px;

}
.search-side{
    width: 228px;
    padding: 20px 0 20px 20px;
    text-align: left;

}
.filter-cat-section{
    margin-top: 14px;
    margin-bottom: 20px;
}
/* 品牌 */
.filter-cat-title{
    font-weight: 800;
    font-size: 14px;
    color: #262626;
    text-align: left;
    line-height: 20px;
}
.filter-brand{
    background: #f5f5f5;
    font-size: 12px;
    color: #262626;
    line-height: 32px;
    width: 90px;
    height: 32px;
    text-align: center;
    margin: 8px 8px 0 0;
    overflow: hidden;
    cursor: pointer;

    display: inline-block;
}
/* 价格 */
.filter-price{
    padding: 5px 0;
}
.filter-price>input{
    width: 71.5px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 8px 12px;
    line-height: 12px;
    font-size: 12px;
}
.filter-price>span{
    line-height: 32px;
    padding: 0;
    width: 24px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.operations{
    margin-top: 8px;
}
.operations>button{
    font-size: 12px;
    
    line-height: 32px;
    padding: 0 8px;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
}
.sure{
    color: #fff;
    background: #00aaa6;
    border-color: transparent;
}
.cancel{
    background: #fff;
    border: 1px solid #eee;
    color: #777;
}
/* 滚动后右侧固定样式 */
.scroll-fixed{
    position: fixed;
}
/* 右侧 */
.right{
    float: left;
    
}
.right>div{
    position: relative;
}
.filter-shop-search-filter{
    height: 40px;
    background-color: #fff;
    border: none;
    width: 948px;
}
/* 视图转换 */
.display-change{
    float: right;
    /* display: inline-block; */
    text-align: left;
}
.display-4,.display-2{
    display: inline-block;
    width: 16px;
    height: 40px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}
.display-4{
    background-image: url('../img/display-4-before.png');

}
.display-4.active{
    background-image: url('../img/display-4-after.png');
}
.display-2{
    background-image: url('../img/display-2-before.png');
}
.display-2.active{
    background-image: url('../img/display-2-after.png');
}
/* 筛选条件 */
.filter-banner{
    float: right;
    font-size: 14px;
    color: #262626;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.item-sort{
    display: inline-block;
    width: 68px;
    text-align: left;
    line-height: 38px;
    cursor: pointer;
}
/* 配送城市 */
.hisense-filter{
    position: absolute;
    top: 0;
    width: 380px;
    padding: 0 10px;
    color: #646464;
}
.delivery-area{
    /* display: inline-block; */
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    height: 40px;
    padding-top: 8px;
}
.delivery-area>span{
    font-size: 14px;
    color: #aaa;
    margin-right: 6px;
    vertical-align: middle;
}
.select-group{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.select-icon{
    width: 16px;
    height: 32px;
    background-image: url('../img/arr-down.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
.checkbox-container{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    font-size: 14px;
    color: #262626;
    line-height: 20px;
}
.checkbox-container>label{
    vertical-align: middle;
    margin-right: 2px;
}
#stock{
    margin-right: 8px;
    vertical-align: sub;
    height: 14px;
    width: 14px;
    border-radius: 0;
    background-color: #fff;
    position: relative;
}
/* 商品列表 */
.product_list{
    width: 948px;
}
.product-list-items{
    padding-top: 22px;
    padding: 10px 0 0;
    width: 100%;
}
.product-list-items::after{
    content: '';
    display: block;
    clear: both;
}
.list-item{
    position: relative;
    height: 330px;
    width: 228px;
    padding: 8px;
    margin: 0 12px 12px 0;
    border: none;
    background: #fff;
    float: left;
}
.list-item:nth-child(4n){
    margin-right: 0px;
}
/* 列表详情 */
.small-banner{
    color: #fff;
    width: 212px;
    font-size: 14px;
    text-align: center;
    top: 196px;
    height: 24px;
    line-height: 24px;
    background: #FF395F;
    position: absolute;
}
.product-img{
    width: 212px;
    height: 212px;
}
.product-img>a>img{
    width: 100%;
    height: 100%;
}
.product-desc{

}
.product-title{
    padding: 0 8px;
    color: #262626;
    line-height: 20px;
    height: 40px;
    text-align: center;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-title>a{
    color: #1e1e1e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.product-price{
    line-height: 12px;
    margin: 4px 0;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 700;
}
.product-price>span{
    font-size: 12px;
    color: #ff143e;
    font-family: PingFangSC-Regular;
    line-height: 12px;
}
.product-price>span>strong{
    font-size: 16px;
    line-height: 22px;
}
.product-price>span.sale-count{
    font-size: 12px;
    color: #aaa;
    line-height: 22px;
    font-weight: 400;
    float: right;
}
.promotion{
    max-height: none;
    overflow: hidden;
    height: 24px;
    padding: 0 8px;
}
.promotion>span{
    color: #ff143e;
    border-radius: 2px;
    display: inline-block;
    height: 24px;
    padding: 0 8px;
    border: 1px solid #ff143e;
    line-height: 24px;
    font-size: 12px;
    font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
    margin-right: 3px;
    margin-bottom: 6px;
    font-style: normal;
    text-align: center;
}
.list-pagination{
    width: 100%;
    text-align: right;
}
.pagination{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.icon-prev,.icon-next,.page-lt,.page-gt{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-prev{
    background-image: url('../img/arrow-prev.png');
}
.icon-next{
    background-image: url('../img/arrow-next.png');
}
/* .page-lt,.page-gt{
   display: inline-block; 
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: #fff;
    vertical-align: middle;
    text-align: center;
} */
.page-lt{
    color: #fff;
    background-color: #00aaa6;
}